<div class="content">
    <div class="members-panel">
        <div class="members-panel-header">Members</div>
        <div class="members-panel-box">
            <!-- Image here -->
        </div>
    </div>
</div>