<div class="content">
    <img class="about-panel-photo" src="static/img/newjeans-group-photo-1.jpg" alt="NewJeans" title="NewJeans">
    <div class="about-panel">
        <div class="about-panel-header">NewJeans</div>
        <div class="about-panel-content">
            NewJeans (뉴진스 in Korean) is a South Korean girl group that officially debuted on August 1, 2022,
            under the record label, ADOR, a subsidiary of Hybe Corporation. The group consists of five members,
            including Hanni, Danielle, Minji, Hyein, and Haerin. NewJeans is considered a 4th generation Korean
            pop (K-pop) girl group, joining the likes of IVE, ITZY, and G-IDLE in the scene. In terms of genre,
            NewJeans's concept is centered on their girl-next-door image and pop and R&B tunes influenced by
            numerous dance and club trends from the 1990s and 2000s.
        </div><br>
        <div class="about-panel-content">
            NewJeans debuted their first music video in July 2022 with the track “Attention,” followed by the
            singles, “Hype Boy” and “Cookie,” which are all under their first extended play (EP), “New Jeans.”
            The group’s most recent comeback is “Get Up,” their second EP, with the first single from it called
            “Super Shy” becoming their highest-charting track on multiple international charts, including the
            US Billboard Hot 100 (48th), the UK Singles Chart (52nd), and Billboard Global 200(2nd).
        </div>
    </div>
</div>