<div class="member-modal">
    <div class="main-box">
        <div class="member-modal-header">
            <button class="exit-button">
                <img class="exit-button-sprite" src="static/img/newjeans-close-button.png">
            </button>
        </div>
        <div class="member-modal-content">
            <div class="member-modal-body">
                <img class="member-modal-picture">
                <span class="member-modal-description">
                    <div class="member-modal-name"></div>
                    <div class="desc-category">
                        Stage Name: <span id="desc-stage-name" class="desc"></span>
                    </div>
                    <div class="desc-category">
                        Birth Name: <span id="desc-birth-name" class="desc"></span>
                    </div>
                    <div class="desc-category">
                        Birthdate: <span id="desc-birthdate" class="desc"></span>
                    </div>
                    <div class="desc-category">
                        Nationality: <span id="desc-nationality" class="desc"></span>
                    </div>
                    <div class="desc-category">
                        Unofficial Position: <span id="desc-position" class="desc"></span>
                    </div>
                    <div class="desc-category">
                        Representative Color: <span id="desc-color" class="desc"></span>
                    </div>
                    <div class="desc-category">
                        Representative Emoji: <span id="desc-emoji" class="desc"></span>
                    </div>
                </span>
            </div>
            
        </div>
    </div>
</div>