<div class="member-modal">
    <div class="main-box">
        <div class="member-modal-header">
            <button class="exit-button">
                <img class="exit-button-sprite" src="static/img/newjeans-close-button.png">
            </button>
        </div>
        <div class="member-modal-content">
            <div class="member-modal-name">Hanni</div>
            <img class="member-modal-picture" src="static/img/hanni-main.png">
            <span class="member-modal-description">

            </span>
        </div>
    </div>
</div>