<div class="member-modal">
    <div class="main-box">
        <div class="member-modal-header">
            <button class="exit-button">
                <img class="exit-button-sprite" src="static/img/newjeans-close-button.png">
            </button>
        </div>
        <div class="member-modal-content">
            <div class="member-modal-body">
                <img class="member-modal-picture" src="static/img/hanni-main.png">
                <span class="member-modal-description">
                    <div class="member-modal-name">Hanni</div>
                    <div class="desc-category">
                        Stage Name: <span id="desc-stage-name" class="desc">Hanni (하니)</span>
                    </div>
                    <div class="desc-category">
                        Birth Name: <span id="desc-birth-name" class="desc">Hanni Pham</span>
                    </div>
                    <div class="desc-category">
                        Birthdate: <span id="desc-birthdate" class="desc">October 6, 2004</span>
                    </div>
                    <div class="desc-category">
                        Nationality: <span id="desc-nationality" class="desc">Vietnamese-Australian</span>
                    </div>
                    <div class="desc-category">
                        Position: <span id="desc-position" class="desc">Vocalist</span>
                    </div>
                    <div class="desc-category">
                        Representative Color: <span id="desc-color" class="desc">Pink</span>
                    </div>
                    <div class="desc-category">
                        Representative Emoji: <span id="desc-rabbit" class="desc">Rabbit</span>
                    </div>
                </span>
            </div>
            
        </div>
    </div>
</div>