<div class="menu-modal">
    <div class="header">
        <button class="exit-button">
            <img class="exit-button-sprite" src="static/img/newjeans-close-button.png">
        </button>
    </div>
    <div class="dropdown-content">
        <div class="{{#with current_page}}{{#if home}}dark-underlined{{/if}}{{/with}} navbar-button" id="home-button">Home</div>
        <div class="{{#with current_page}}{{#if members}}dark-underlined{{/if}}{{/with}} navbar-button" id="members-button">Members</div>
        <div class="{{#with current_page}}{{#if discography}}dark-underlined{{/if}}{{/with}} navbar-button" id="discography-button">Discography</div>
        <div class="{{#with current_page}}{{#if awards}}dark-underlined{{/if}}{{/with}} navbar-button" id="awards-button">Awards</div>
        <div class="{{#with current_page}}{{#if performances}}dark-underlined{{/if}}{{/with}} navbar-button" id="performances-button">Performances</div>
        <div class="{{#with current_page}}{{#if gallery}}dark-underlined{{/if}}{{/with}} navbar-button" id="gallery-button">Gallery</div>
    </div>
</div>