<div class="menu-modal">
    <div class="header">
        <button class="exit-button">
            <img class="exit-button-sprite" src="static/img/newjeans-close-button.png">
        </button>
    </div>
    <div class="dropdown-content">
        <div class="{{#with current_page}}{{#if home}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button2" id="home-button-2">Home</div>
        <div class="{{#with current_page}}{{#if members}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button2" id="members-button-2">Members</div>
        <div class="{{#with current_page}}{{#if discography}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button2" id="discography-button-2">Discography</div>
        <div class="{{#with current_page}}{{#if awards}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button2" id="awards-button-2">Awards</div>
        <div class="{{#with current_page}}{{#if performances}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button2" id="performances-button-2">Performances</div>
        <div class="{{#with current_page}}{{#if gallery}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button2" id="gallery-button-2">Gallery</div>
    </div>
</div>