<div class="navbar-panel">
    <span class="navbar-logo-panel">
        <img class="navbar-logo" src="static/img/newjeans-getup-logo.png" alt="NewJeans Logo" title="NewJeans Logo">
    </span>

    <span class="navbar-buttons-panel">
        <span class="{{#with current_page}}{{#if home}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button3" id="home-button-1">Home</span>
        <span class="{{#with current_page}}{{#if members}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button3" id="members-button-1">Members</span>
        <span class="{{#with current_page}}{{#if discography}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button3" id="discography-button-1">Discography</span>
        <span class="{{#with current_page}}{{#if awards}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button3" id="awards-button-1">Awards</span>
        <span class="{{#with current_page}}{{#if performances}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button3" id="performances-button-1">Performances</span>
        <span class="{{#with current_page}}{{#if gallery}}dark-underlined{{/if}}{{/with}} navbar-button navbar-button3" id="gallery-button-1">Gallery</span>
    </span>

    <span class="navbar-hamburger">
        <img class="navbar-hamburger-sprite" src="static/img/newjeans-hamburger.png">
    </span>
</div>