<div class="navbar-panel">
    <span class="navbar-logo-panel">
        <img class="navbar-logo" src="static/img/newjeans-getup-logo.png" alt="NewJeans Logo" title="NewJeans Logo">
    </span>

    <span class="navbar-buttons-panel">
        <span class="{{#if current_page}}dark-underlined{{/if}}navbar-button" id="home-button">Home</span>
        <span class="{{#if current_page}}dark-underlined{{/if}}navbar-button" id="members-button">Members</span>
        <span class="{{#if current_page}}dark-underlined{{/if}}navbar-button" id="discography-button">Discography</span>
        <span class="{{#if current_page}}dark-underlined{{/if}}navbar-button" id="awards-button">Awards</span>
        <span class="{{#if current_page}}dark-underlined{{/if}}navbar-button" id="performances-button">Performances</span>
        <span class="{{#if current_page}}dark-underlined{{/if}}navbar-button" id="gallery-button">Gallery</span>
    </span>
</div>