<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <meta name="viewport" content="width=device-width, initial-scale=0.6">

        <link rel="icon" type="image/png" href="static/img/newjeans-getup-logo.png">
        <link rel="stylesheet" type="text/css" media="all" href="static/css/index.css">
        <link rel="stylesheet" type="text/css" media="all" href="static/css/navbar.css">

        <script src="static/js/code.jquery.com_jquery-3.6.0.min.js"></script>
        <script src="static/js/navbar.js" defer></script>
        <script src="static/js/index.js" defer></script>
    </head>
    <body>
        {{> menu}}
        {{> navbar}}
        {{{body}}}

    </body>
</html>